$color-accent: #E6007E
$color-border: $color-accent

$body-font-family: "Milligram Text", sans-serif
$heading-font-family: $body-font-family

$body-overlay-color: transparent

$hero-background-color: transparent

$header-background: white
$header-logo-height: 22px
$header-logo-height-desktop: 32px
$header-background: white

$footer-background-color: white

$border-width: 12px

