body
    border-left: $color-accent $border-width solid 
    border-right: $color-accent $border-width solid 
    
header#document-header
    border: $color-border $border-width solid

footer#document-footer
    border-top: $color-border $border-width solid
    border-bottom: $color-border $border-width solid
